[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=DarkMan
Icon=preferences-desktop-theme
Comment=Framework for dark-mode and light-mode transitions on Linux desktop
X-XFCE-Unique=true
X-XFCE-Module=darkman
X-XFCE-Internal=false
X-XFCE-API=2.0
